.column1 {
    float: left;
    width: 18%;
}

.card {
    background-color: #6700f0;
    margin: 2% 2%;
    border: 2px solid #c4c1c1;
}

.card ul {
    list-style-type: none;
    padding: 5% 5%;
}

.column2 {
    float: right;
    width: 80%;
}

.clear {
    clear: both;
}

.stkfoot {
    position: static;
    width: 100%;
}

#centerimg {
    display: block;
    margin: 0% auto;
}

main {
    background-color: #c4c1c1;
}

nav {
    background-color: #a300f0;
}

nav input {
    width: 35%;
}

nav input[type=text] {
    float: left;
    font-size: 18px;
    text-align: center
}

footer {
    text-align: center;
    background-color: #a300f0;
}

h1, h2, h3 {
    font-style: italic;
    text-align: center;
}



p {
    margin: 1% 4%;
    padding: 1% 0%;
}